<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Session Flow - Nutrition Assessment, page 1</title>
<style>
.demo {
	width: 100%;
	border: 1px solid #C0C0C0;
	border-collapse: collapse;
	padding: 10px;
	margin-top: 20px;
	table-layout: fixed;
}
.demo th {
	border: 1px solid #C0C0C0;
	padding: 10px;
	background: #F0F0F0;
	width:50%;
}

.demo .3-col th {
	width:33%;
}

.demo tr {
	text-align: left;
}
.demo td {
	border: 1px solid #C0C0C0;
	padding: 10px;
}
</style>
</head>
<body class="dashboard site-menubar-unfold" data-auto-menubar="false">
<h1>Client's Priorities - Nutrition Assessment</h1>
<h2>March 19, 2017</h2>
<h2>Client Priorities and Values</h2>
<p>To set the agenda for our meeting today, I'd first like to spend some time discussing the health and personal goals that are most important to you.</p>
<table class="demo">
<!--caption>Table 1</caption-->
<thead>
<tr><th>Looking at the short term, what would you like to achieve or accomplish with your health within this year?<br></th></tr>
</thead>
<tbody>
<tr>
<td>Lorem ipsum dolor.</td>
</tr>
</tbody>
</table>

<table class="demo">
<!--caption>Table 1</caption-->
<thead>
<tr><th>On a scale of 1 to 10, how confident are you that you will reach your goals?</th></tr>
</thead>
<tbody>
<tr>
<td>8</td>
</tr>
</tbody>
</table>

<table class="demo">
<!--caption>Table 1</caption-->
<thead>
<tr><th>In the next 2-5 years? In the next 10+ years?</th></tr>
</thead>
<tbody>
<tr>
<td>Lorem ipsum dolor.</td>
</tr>
</tbody>
</table>

<table class="demo">
<!--caption>Table 1</caption-->
<thead>
<tr><th>Is there any particular topic you want me to be sure to cover in our time together?</th></tr>
</thead>
<tbody>
<tr>
<td>Lorem ipsum dolor.</td>
</tr>
</tbody>
</table>

<table class="demo">
<!--caption>Table 1</caption-->
<thead><tr><th>What strategies have you used in the past to address your goals and what were the outcomes?</th></tr></thead>
<tbody>
<tr>
<td>Lorem ipsum dolor.</td>
</tr>
</tbody>
</table>

<h2>Client’s Health Status</h2>
<p>Given your goals and priorities, it is important to review your current and past experiences with health, food, and nutrition. Is it okay if I ask you some questions about your current health and routines?</p>


<table class="demo">
	<thead>
	<tr>
		<th>Describe your health in the past.</th>
		<th>Do you "Know Your Numbers?</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>Lorem ipsum dolor.</td>
		<td>Lorem ipsum dolor.</td>
	</tr>
	</tbody>
</table>

<table class="demo">
	<thead>
	<tr>
		<th>Tell me about medications that you take regularly.</th>
		<th>Any Supplements?</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>Lorem ipsum dolor.</td>
		<td>Lorem ipsum dolor.</td>
	</tr>
	</tbody>
</table>

<table class="demo">
	<thead>
	<tr>
		<th>Do you have any food allergies or intolerances?</th>
		<th>Do you have a primary care physician?</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>Lorem ipsum dolor.</td>
		<td>Lorem ipsum dolor.</td>
	</tr>
	</tbody>
</table>

<table class="demo">
	<thead>
	<tr>
		<th>Tell me about your physical activity routine.</th>
		<th>While each day differs, describe a typical day of eating for me.</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>Lorem ipsum dolor.</td>
		<td>Lorem ipsum dolor.</td>
	</tr>
	</tbody>
</table>

<table class="demo">
<!--caption>Table 1</caption-->
<thead><tr><th>Knowing your vision for your future, let's examine your weight history. Describe your weight in the past.</th></tr></thead>
<tbody>
<tr>
<td>Lorem ipsum dolor.</td>
</tr>
</tbody>
</table>


<table class="demo">
	<caption><h3>Body Mass Index</h3></caption>
	<thead>
	<tr>
		<th>Height</th>
		<th>Weight</th>
		<th>BMI</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>etits</td>
	</tr>
	</tbody>
		<thead>
	<tr>
		<th colspan="3">Met Nutritional Goal</th>
	</tr>
	</thead>
		<tbody>
	<tr>
		<td colspan="3">etits</td>
	</tr>
	</tbody>
</table>


<table class="demo">
	<caption><h3>Blood Pressure</h3></caption>
	<thead>
	<tr>
		<th>Systolic</th>
		<th>Diastolic</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	</tbody>
</table>


<table class="demo">
	<caption><h3>Body Shape</h3></caption>
	<thead>
	<tr>
		<th>Pear shape</th>
		<th>Apple shape</th>
		<th>Waist circumference (cm)</th>
		<th>Neck circumference (cm)</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	</tbody>
</table>


<table class="demo">
	<caption><h3>Typical Day of Eating</h3></caption>
	<tbody>
	<thead>
	<tr>
		<th>Whole Grains / Day</th>
		<th>Vegetables / Day</th>
		<th>Fruit / Day</th>
	</tr>
	</thead>
	
	<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
		<thead>
	<tr>
		<th>Low Fat Dairy / Day</th>
		<th>Fish / Week</th>
		<th>Water-Cups / Day</th>
	</tr>
	</thead>
	<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	</tbody>
</table>

</body>
</html>
